# Composer dependencies
/vendor/

# Drupal public/private file storage
/web/sites/default/files/
/web/sites/default/private/

# Environment-specific settings
/web/sites/default/settings.local.php
/web/sites/default/settings.ddev.php

# DDEV noise
/.ddev/.global_commands
/.ddev/commands
/.ddev/homeadditions
/.ddev/ssh
/.ddev/xdebug
/.ddev/db_snapshots/

# IDE/editor junk
/.idea/
/.vscode/
*.swp
*.swo

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Config sync temp files
/config/sync/*.yml~
