.tab-pane .paragraph {
    margin-bottom: 2.5rem !important;
}

.tab-pane .paragraph:last-child {
    margin-bottom: 0 !important;
}

.paragraph--type--bp-tabs > .paragraph__column > nav > .nav-tabs {
    justify-content: center;
}

.paragraph--type--bp-tabs > .paragraph__column > nav > .nav-tabs .nav-link {
    font-size: 1.25rem;
    font-weight: 600;
    color: #495057;
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-bottom: 3px solid transparent;
}

.paragraph--type--bp-tabs > .paragraph__column > nav > .nav-tabs .nav-link:hover {
    border-color: transparent;
    border-bottom: 3px solid #0548A3;
    color: #0548A3;
}

.paragraph--type--bp-tabs > .paragraph__column > nav > .nav-tabs .nav-link.active {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #0548A3;
    color: #0548A3;
}

.paragraph--type--bp-tabs > .paragraph__column > .tab-content {
    margin-top: 2rem;
}